ANNOQ_ES_URL=http://localhost:9200
ANNOQ_ES_PORT=9200
ANNOQ_ANNOTATIONS_INDEX=annoq-annotations-tm-20251208
# Small chunk size for the low-heap local docker ES (prod omits this -> defaults to 5000)
#ANNOQ_ES_BULK_CHUNK_SIZE=500